.purchases-7d-table{
  height: 400px;
  overflow: auto;
}

.btn-jumbo-usr{
  height: 130px;
  width: 100%;
  font-size: 60px;
  margin-bottom: 30px;
  @media screen and (max-width: 450px){
    height: 80px;
    font-size: 30px;
    span{
      margin-top: 5px;
    }
  }
  //span{
  //  margin-top: 30px;
  //  font-size: 60px;
  //}
  //i{
  //  margin-top: 30px;
  //}
}