
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Admin styles
@import "admin";

.list-buttons{
  float: left;
  padding: 1px 4px;
}

.navbar-logo{
  height: 40px;
  width: auto;
}

.navbar-brand{
  padding-top: 5px;
  padding-bottom: 5px;
}