
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Admin styles
@import "admin";

// Store styles
@import "store";

// User Style
@import "user";


.list-buttons{
  float: left;
  padding: 1px 4px;
}

.navbar-logo{
  height: 40px;
  width: auto;
}

.navbar-brand{
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-jumbo-home{
  height: 80px;
  width: 100%;
  font-size: 40px;
  margin-bottom: 30px;
  span{
    margin-top: 27.5px;
  }
  @media screen and (max-width: 450px){
    height: 60px;
    font-size: 30px;
    span{
      margin-top: 5px;
    }
  }
}

.table{
  margin:0px !important;
  table-layout:fixed;
}
.table td{
  padding-bottom: 0px !important;
  overflow:hidden;
}